@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --loader-text-color: #f6e9fe;
  --loader-dot-color: #a51ff6;
  --loader-bg: #100319;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  outline: hidden;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  transition-property: opacity, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

/* ------------------------------CSS for EarthCanvas---------------------------------- */
.canvasMain {
  position: relative;
  height: 300vh;
  width: 100%;
}

.Hello {
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.canva {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}
.testing {
  z-index: 2;
}
.motionCanvas {
  position: relative;
  height: 100vh;
  width: 100%;
}
.loading {
  background-color: black;
  color: white;
}
/* ------------------------------CSS for loader---------------------------------- */
/* ------------------------------CSS for page-transition---------------------------------- */
.page-transition {
  opacity: 0;
  background: black;
  transform: translatey(-80px);
  filter: blur(12px);
}
/* ------------------------------CSS for page-transition---------------------------------- */
/* ------------------------------CSS for loader---------------------------------- */
.loader-container {
  position: fixed;
  inset: 0;
  background-color: black;
  display: grid;
  place-content: center;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
svg {
  width: 90vw;
  font-weight: 700;
}

svg text {
  stroke-width: 2;
}

svg text.text-body {
  stroke: var(--loader-text-color);
  animation: 4s infinite alternate animate-stroke;
}

svg text.dot {
  fill: var(--loader-dot-color);
  stroke: var(--loader-dot-color);
  animation: 4s infinite alternate animate-dot;
}

@keyframes animate-stroke {
  0% {
    fill: transparent;
    stroke: var(--loader-text-color);
    stroke-width: 3;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%;
  }
  50% {
    fill: transparent;
    stroke: var(--loader-text-color);
    stroke-width: 3;
  }
  80%,
  100% {
    fill: var(--loader-text-color);
    stroke: transparent;
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 32% 0;
  }
}

@keyframes animate-dot {
  0%,
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ------------------------------CSS for loader---------------------------------- */
